@model Episerver9.Models.Pages.StartPage

@{
    Layout = "~/Views/Shared/_root.cshtml";
}

<div class="row">
    <h1>Startpage!</h1>
    <div class="jumbotron">
        <h1>Our first pagetype</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</div>